/*Обнуление*/
/* *{padding: 0;margin: 0;border: 0;} */
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

html , 
body{
	height: 100%;
	line-height: 1;
}

body{
	font-family: 'Rubik';
	font-size:17px;
	counter-reset:#616161;
}

[class*="__container"]{
	max-width: 587px;
	margin: 0 auto;
	padding: 15px 15px;

}

.contact__container{
	border: 2px solid #000;
	max-width: 330px;
	margin: 50px auto 0px auto;
	min-height: 407px;
	border-radius: 15px;
	
}


h1{
	font-size: 24px;
}

.contact__body{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.contact__header{
	display: flex;
	align-items: center;
}

.call-image{
	margin: 0px 10px 0px 0px ;
}

.contact-list{
	margin: 0px 0px 0px -40px;
}

.search-input{
	display: flex;
	min-width: 255px;
	border: 2px solid #000;
	border-radius: 15px;
	min-height: 28px;
	padding: 0px 0px 0px 10px;
}


.search-input-object{
	border: 0;
	padding: 0px 0px 0px 10px;
}

.contact-item{
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.contact-buttons{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
}

.delete-button{
	margin: 12px 0px 0px 0px;
}